body, html {
    margin: 0px;
    padding: 0px;
    background: #0f0f0f;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    display: block;
}
#logo {
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
}
#title {
    position: absolute;
    top: 5px;
    left: 105px;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 25px;
    color: #fff;
}
#count {
    font-size: 50px;
    position: absolute;
    left: 105px;
    top: 38px;
    color: #fff;
    font-weight: 500;
}
