body, html {margin: 0px;padding: 0px;color: #232323;font-size: 11pt;font-family: 'Roboto', sans-serif;display: block;}
div {display: block;}
#top-header {height:210px;width: 1260px;margin: 0px auto;background: #e6e6e6;overflow: hidden;position: relative;}
#top-header-background {background-size: 100%; height: 210px;width: 1280px;}
#avatar {float: left;height: 170px;width: 170px;border-radius: 85px;border: 5px solid #fff;margin-top: -195px;margin-left: 20px;-webkit-box-shadow: 0px 0px 5px 0px rgba(51,3,0,0.2);-moz-box-shadow: 0px 0px 5px 0px rgba(51,3,0,0.2);box-shadow: 0px 0px 5px 0px rgba(51,3,0,0.2);}
#user-menu {width: 1260px;margin: 0px auto;background: #0f0f0f;line-height: 50px;height: 50px;color: #fff;}
#user-menu a {display: block;float: left;height: 50px;padding: 0px 15px;color: #fff;text-decoration: none; }
#user-menu a:hover {background: #000;}
#container {width: 1260px;margin: 20px auto;}
#panel-left {float: left;width: 600px;}
#panel-right {float: right;width: 600px;}
.head-box {width: 560px;height: 60px;background:#0f0f0f;padding: 5px 20px;color: #fff;font-size: 30pt;font-weight: 500;text-align: center;position: relative; margin-top: 20px;}
#name {position: absolute;color: #fff;top:8px;left:10px; width: 550px;}
.box {width: 560px;height: 35px;background:#1a1a1a;padding: 5px 20px;color: #fff;font-size: 20pt;font-weight: 400;text-align: center;position: relative;}
#box a {display: block;float: left;height: 60px;padding: 0px 15px;color: #fff;text-decoration: none; width:100% }
.box:hover {background: #000;}

